@using Microsoft.AspNetCore.Components.Authorization
@using wellmanage.clientapp.Shared.Pages
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudPopoverProvider />

<AuthorizeView>
    <Authorized>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
                    <div> Hello, @context.User.Identity?.Name!</div>
                    <a href="/logout">Logout</a>
                
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
