@page "/attendence-summary"
<h3>Attendence Summary</h3>

<MudTable Items="@_attendanceResponses" Hover="true" Breakpoint="Breakpoint.Sm" Loading="isLoading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>No</MudTh>
        <MudTh>Check In Time</MudTh>
        <MudTh>Check Out Time</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Id</MudTd>
        <MudTd DataLabel="Sign">@context.CheckInTime.ToLocalTime().ToString("f")</MudTd>
        <MudTd DataLabel="Name">@context.CheckOutTime?.ToLocalTime().ToString("f")</MudTd>
    </RowTemplate>
</MudTable>


