@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@using wellmanage.clientapp.Shared.Services
@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager Navigation;
<h3>Logout</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		await ((JwtAuthStateProvider)authenticationStateProvider).MarkUserAsLoggedOut();
		Navigation.NavigateTo("/login");
	}

}
